<footer class="container">
  <p class="float-end"><a href="#">Back to top</a></p>
  <p>
    <a href="https://github.com/codheadclub">GitHub</a> · <a href="https://www.facebook.com/codheadclub">Facebook</a> ·
    <a href="https://www.linkedin.com/company/codhead-club">Linkedin</a> ·
    <a href="{{ '/pages/imprint' | url }}">Imprint</a> ·
    <a href="{{ '/pages/privacy' | url }}">Privacy</a>
  </p>
  <div class="row">
    <div class="col-12 col-md text-center">
      Made with love by:
      <br />
      <br />
      {% for contrib in contribs %}
      <a href="{{ contrib.html_url }}">
        <img src="{{ contrib.avatar_url }}" class="avatar" />
      </a>
      {% endfor %}
    </div>
  </div>
</footer>
