---
layout: base
eleventyNavigation:
  key: About
  order: 1
---

<h1>About us</h1>

<p class="about">
  The Codhead Club (TCC) was founded in early 2022 by
  <a href="https://love.edwardcharl.es">Edward Charles Richmond</a> having identified a lack of technical professionals
  working to solve societial problems such as the <a href="https://www.forbes.com/sites/daviddawkins/2020/04/09/rich-poor-tech-dividekids-desperate-for-homework-left-without-laptops-and-broadband/">"Digital Divide"</a> which is particularly evident in areas of low socioeconomic growth, such as Humberside; alongside a lack of technical expertise, training and guidance available to CVS organisations.
</p>

<p class="about">
  In the first few months, The Codhead Club grew to 11 members including seasoned professionals such as
  <a href="https://www.experts-exchange.com/members/hanccocka.html">Andrew Hancock</a>,
  <a href="https://www.hull.ac.uk/staff-directory/neil-gordon">Dr. Neil Gordon</a> and
  <a href="https://www.hull.ac.uk/staff-directory/david-parker">Dr. David Parker</a>. TCC's first project was with
  <a href="https://myjobcoach.co.uk/#">Humber Job Hub</a> providing Basic I.T Training to Over-50s which initially took
  the form of group sessions before being changed to 1-1 sessions following the projects extension.
</p>

<p class="about">Moving forward, The Codhead Club is looking to continue developing relationships with the CVS community, develop open source software for social projects and establish a "community tech hub" - but these will take time. If you are a technical professional and wish to join the Codhead Club, please feel free to join our telegram or discord. Alternatively, if you are a CVS organisation and would like help in some capacity from our memebers, please email hello@parentull.org</p>