---
layout: base
eleventyNavigation:
  key: About
  order: 1
---

## About us

<p class="about">
  The Codhead Club (TCC) was founded in early 2022 by
  <a href="https://love.edwardcharl.es">Edward Charles Richmond</a> having identified a lack of technical professionals
  working to solve societial problems alongside a lack of technical expertise, training and guidance available to CVS
  organisations.
</p>

<p class="about">
  In the first few months, The Codhead Club grew to 11 members including seasoned professionals such as
  <a href="https://www.experts-exchange.com/members/hanccocka.html">Andrew Hancock</a>,
  <a href="https://www.hull.ac.uk/staff-directory/neil-gordon">Dr. Neil Gordon</a> and
  <a href="https://www.hull.ac.uk/staff-directory/david-parker">Dr. David Parker</a>. TCC's first project was with
  <a href="https://myjobcoach.co.uk/#">Humber Job Hub</a> providing Basic I.T Training to Over-50s which initially took
  the form of group sessions before being changed to 1-1 sessions following the projects extension.
</p>
