// Variable overrides, e.g.
$body-bg: #01032c;
$body-color: #fff;
$link-color: #0389af;
$nav-link: #fff;
$btn-discord: #7289da;
$btn-discord-hover: #5f73bc;
$btn-discord-active: #4c5d9e;
$btn-telegram: #2aabee;
$btn-telegram-hover: #229ed9;
$btn-telegram-active: #ffffff;
$utilities-border-colors: #fff;
