# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Deploy Site
on:
  push:
    branches:
      - master
    paths-ignore:
      - "**/README.md"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.4
      - name: Use Node LTS
        uses: actions/setup-node@v3
        with:
          node-version: "18"
          cache: npm
      - name: Install and Build for Github Pages
        run: |
          npm install
          npm audit fix
          npm run build
        env:
          ELEVENTY_ENV: production
          BASE_URL: "https://${{ github.event.repository.owner.name }}.github.io/"
          PATH_PREFIX: "/${{ github.event.repository.name }}/"

      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          token: ${{ secrets.DEPLOY_SECRET }}
          branch: gh-pages
          folder: .
